# Folders in the app to the system
app/__pycache__/*
app/__pycache__/*.cpython-39.pyc
app/migrations/*

#Python cache in folder project
hospitalMS/__pycache__/*
hospitalMS/__pycache__/*.cpython-39.pyc
*.cpython-39.pyc

# Ignore build output
build/

# Ignore object files
*.o

# Ignore executables
*.exe
*.out

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.bak
*.swp


*.pyc