{% extends 'app/index.html' %}
{% block content %}
    {% include 'app/header.html' %}
    {% include 'app/hero2.html' %}
    <section class="relative bg-white px-4 sm:px-8 lg:px-16 xl:px-40 2xl:px-40 py-20">
        <div class="mx-20">
            <div class="flex flex-row w-full border-2 py-10 rounded-t-md font-mono">
                <img src="https://seeklogo.com/images/H/hospital-clinic-plus-logo-7916383C7A-seeklogo.com.png"
                     class="h-[12rem] float-left mx-24 "/>
                <div class="ml-12 text-xl w-full flex justify-center items-center">
                    <p class="text-4xl font-extrabold uppercase">Patient {{ patient.id_card_number }} Details</p>
                </div>
            </div>
            <div class="w-full border-b-2 border-x-2 py-10">
                <div class="mx-20 space-y-5">
                    <p class="text-3xl font-bold uppercase">Demographic Details</p>
                    <div class="flex flex-row">
                        <p class="font-bold w-48 flex items-center">Patient Name</p>
                        <p class="border-2 border-gray-300 rounded-md w-full px-5 py-2">{{ patient.name }}
                        </p>
                    </div>
                    <div class="flex flex-row">
                        <p class="font-bold w-48 flex items-center">Birthdate</p>
                        <p class="border-2 border-gray-300 rounded-md w-full px-5 py-2">{{ patient.birth_date }}</p>
                    </div>
                    <div class="flex flex-row">
                        <p class="font-bold w-48 flex items-center">ID Card Number</p>
                        <p class="border-2 border-gray-300 rounded-md w-full px-5 py-2">{{ patient.id_card_number }}</p>
                    </div>
                    <div class="flex flex-row">
                        <p class="font-bold w-48 flex items-center">Healthcare Number</p>
                        <p class="border-2 border-gray-300 rounded-md w-full px-5 py-2">{{ patient.healthcare_number }}</p>
                    </div>
                    <div class="flex flex-row">
                        <p class="font-bold w-48 flex items-center">Sex</p>
                        <p class="border-2 border-gray-300 rounded-md w-full px-5 py-2">{{ patient.get_sex }}</p>
                    </div>
                    <div class="flex flex-row">
                        <p class="font-bold w-48 flex items-center">Nationality</p>
                        <p class="border-2 border-gray-300 rounded-md w-full px-5 py-2">{{ patient.nationality }}</p>
                    </div>
                </div>
            </div>
            <div class="w-full border-b-2 border-x-2 rounded-b-md py-10">
                <div class="mx-20 space-y-5">
                    <p class="text-3xl font-bold uppercase">Contact Details</p>
                    <div class="flex flex-row">
                        <p class="font-bold w-48 flex items-center">Adress</p>
                        <p class="border-2 border-gray-300 rounded-md w-full px-5 py-2">{{ patient.adress }}
                        </p>
                    </div>
                    <div class="flex flex-row">
                        <p class="font-bold w-48 flex items-center ">Contact</p>
                        <p class="border-2 border-gray-300 rounded-md w-full px-5 py-2">{{ patient.phone_number }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="relative bg-white px-4 sm:px-8 lg:px-16 xl:px-40 2xl:px-40 py-20 mx-20">
        <div class="flex justify-center bg-blue-teal-gradient rounded-md p-4">
            <p class="font-bold text-3xl font-mono uppercase">Admissions List</p>
        </div>
        <div class="grid gap-3 mt-10">
            {% for admission in admissions %}
                <div class="flex justify-center border-2 p-4 rounded-md hover:cursor-pointer"
                     onclick="window.location='{% url 'admissionDetails' admission.id %}'">
                    <p>{{ admission.adm_date }}</p>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
