{% extends "app/index.html" %}
{% block content %}
{% include 'app/navparts.html' %}
<section>
  <div class="flex justify-end">
    <a href="" class="ring-2 ring-slate-700 rounded-xl px-4 py-2 font-bold mr-10 bg-purple-300">Add Patient</a>
  </div>
  <div>
    {% for pat in patients %}
      <div class="flex justify-center space-x-10">
        <p class="font-bold text-lg">{{pat.person_id_card_number}}</p>
        <div class="text-lg">
          {{pat.person_name}}
        </div>
      </div>
    {% endfor %}
  </div>
</section>
{% endblock content %}