{% extends 'app/index.html' %}
{% block content %}
  {% include 'app/hero2.html' %}
  <section>
    <div class="mx-40 mt-10 border-4 rounded-xl">
      <table class="grip grid-cols-3 w-full table-auto">
        <thead class="uppercase bg-blue-teal-gradient">
          <tr class="">
            <th>Id Card Number</th>
            <th>Name</th>
            <th>Birth Date</th>
          </tr>
        </thead>
        <tbody class="">
          <div class="">
            {% for pat in patients %}
              <tr class="text-center hover:bg-violet-500" onclick="window.location='{% url 'patientdetails' pat.id_card_number %}'">
                <th>{{ pat.id_card_number }}</th>
                <td>{{ pat.name }}</td>
                <td>{{ pat.birth_date }}</td>
              </tr>
            {% endfor %}
          </div>
        </tbody>
      </table>
    </div>
  </section>
{% endblock %}
