{% extends 'app/index.html' %}
{% block content %}
{% include "app/header.html" %}
  {% include 'app/hero2.html' %}
  {% comment %}
  <section>
    <div class="mx-40 mt-10 border-4 rounded-xl">
      <table class="grip grid-cols-3 w-full table-auto">
        <thead class="uppercase bg-purple-300">
          <tr class="">
            <th>Id Card Number</th>
            <th>Name</th>
            <th>Birth Date</th>
          </tr>
        </thead>
        <tbody class="">
          <div class="">
            {% for doc in physicians %}
              <tr class="text-center hover:bg-violet-500" onclick="window.location='{% url 'physiciandetails' doc.id_card_number %}'">
                <th>{{ doc.id_card_number }}</th>
                <td>{{ doc.name }}</td>
                <td>{{ doc.birth_date }}</td>
              </tr>
            {% endfor %}
          </div>
        </tbody>
      </table>
    </div>
  </section>
  {% endcomment %}

  <section class="relative bg-white px-4 sm:px-8 lg:px-16 xl:px-40 2xl:px-64 py-32">
    <div class="md:flex mt-12 md:-mx-4">
      {% for doctor in physicians %}
        <a href="{% url 'physiciandetails' 'doctor.id_card_number' %}" class="md:px-4 md:w-1/2 xl:w-1/4">
          <div>
            <div class="bg-white rounded border border-gray-300">
              <div class="w-full h-56 overflow-hidden bg-gray-300">
                <img src="{{doctor.image}}" alt="Doctor {{doctor.name}}">
              </div>
              <div class="p-4">
                <p class="text-lg font-semibold leading-tight mt-4">{{ doctor.name }}</p>
                <p class="text-gray-600 mt-1">{{ doctor.speciality }} - {{doctor.department}}</p>
              </div>
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
  </section>
{% endblock %}
