{% extends 'app/index.html' %}
{% block content %}
    {% include 'app/header.html' %}
    {% include 'app/hero2.html' %}

    <section class="relative bg-white px-4 sm:px-8 lg:px-40 xl:px-72 2xl:px-96 py-20">
        <div class="flex flex-row w-full border-2 rounded-t-md py-10">
            <img src="https://seeklogo.com/images/H/hospital-clinic-plus-logo-7916383C7A-seeklogo.com.png"
                 class="h-[12rem] float-left mx-24 "/>
            <div class="ml-12 text-xl w-full">
                <div class="my-5">
                    <p class="font-bold"><a
                            href="{% url 'physiciandetails' prescription.physician.id_card_number %}">Doctor {{ prescription.physician.name }}</a>
                    </p>
                    <p class="">{{ prescription.prescription_date }}</p>
                    <div class="md:flex md:flex-row">
                        <p class="font-bold font-mono">Prescription Nº</p>
                        <p class="ml-3"> {{ prescription.id }}</p>
                    </div>
                </div>
                <div class="mt-12 flex flex-row">
                    <p class="font-bold">Patient:</p>
                    <p class="ml-3"><a href="
                            {% url 'patientdetails' prescription.admission.patient.id_card_number %}">{{ prescription.admission.patient.name }}</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="w-full border-b-2 border-x-2 py-10 rounded-b-md">
            <div class="mx-10">
                {% for medication in medications %}
                    <div class="flex flex-row space-x-8 mb-12 text-xl p-4 px-8 border-2 shadow-lg">
                        <div class="font-extrabold flex items-center">{{ forloop.counter }}</div>
                        <div class="mb-4">
                            <div class="font-bold">
                                {{ medication.medication }}
                            </div>
                            <div class="flex flex-row space-x-5 ml-4">
                                <p>Dosage:</p>
                                <p>{{ medication.dosage }}</p>
                            </div>
                            <div class="flex flex-row space-x-5 ml-4">
                                <p>How to take:</p>
                                <p>{{ medication.comment }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}